<!DOCTYPE html>
<html ng-app='miApp'>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hola mundo en Angular</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    <script src="lib/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div ng-controller="miControlador">
        <div id="elegir">
            Selecciono mis modulos: <br>
            <select ng-model="camposelect" ng-options="item as item.tipo for item in visuals">
                <option value="">--Elige opcion--</option>
            </select>
        </div>

        <div id="elegir2">
            Selecciono mis datos: <br>
            <select ng-model="camposelect" ng-options="item as item.tipo for item in selecionado">
                <option value="">--Elige opcion--</option>
            </select>
            <input type="button" ng-click="PasarValor()" value="Pulsa aquí">
            <input type="button" ng-click="Limpiar()" value="Limpiar">
        </div>
        <div id="resultado">
            
        </div>
    </div>
</body>
</html>